

@font-face {
  font-family: "Allegretto";
  src: url("fonts/ofont.ru_Allegretto Script Two.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optima";
  src: url("fonts/ofont.ru_Optima.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Optima", sans-serif;
  background: #ECECEC;
  max-width: 390px;
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  position: relative;
  background-image: url("images/main.png");
  background-size: cover;
  background-position: center;
  height: 720px;
  padding-top: 40px;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 205px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
  pointer-events: none;
}

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px 40px;
  color:  white;
}

.top-pearls {
  width: 23px;
  position: absolute;
  top: 0;
  left: 8%;
}

.bottom-pearls {
  width: 23px;
  position: absolute;
  right: 8%;
  bottom: 0;
  rotate: 180deg;
}

.date-title {
  font-size: 24px;
}

.main-title {
  font-family: "Allegretto", sans-serif;
  font-size: 54px;
}

.name-title {
  font-size: 22px;
  margin-top: 5px;
}