@font-face {
  font-family: "Allegretto";
  src: url("fonts/ofont.ru_Allegretto Script Two.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VeraHumana";
  src: url("fonts/ofont.ru_Vera Humana 95.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "VeraHumana", sans-serif;
  background: #ECECEC;
  max-width: 390px;
  margin: 0 auto;
  text-align: center;
  color: #333333;
  overflow-x: hidden;
}

.main {
  position: relative;
  background-image: url("images/main.png");
  background-size: cover;
  background-position: center;
  height: 720px;
  padding-top: 40px;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 205px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
  pointer-events: none;
}

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px 40px;
  color:  white;
}

.pearls {
  position: absolute;
}

.top-pearls {
  width: 23px;
  top: 0;
  left: 8%;
}

.bottom-pearls {
  width: 23px;
  right: 8%;
  bottom: 0;
  rotate: 180deg;
}

.date-title {
  font-size: 22px;
}

.main-title {
  font-family: "Allegretto", sans-serif;
  font-size: 54px;
}

.name-title {
  font-size: 22px;
  margin-top: 5px;
}

.invitation {
  margin-top: 25px;
}

.invitation-text-wrapper {
  padding-inline: 15px;
}

.subtitle {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-transform: uppercase;
}

.invitation-title {
  margin-bottom: 25px;
}

.invitation-text-box {
  display: flex;
  flex-direction: column;
  padding-inline: 35px;
  gap: 25px;
}

.invitation-img-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.silk {
  display: block;
  position: relative;
  z-index: 3;
}

.invitation-silk {
  width: 160%;
  height: 270px;
  left: 5%;
  transform: translateX(-30%);
  rotate: 7deg;
  top: 135px;
}

.flower {
  position: absolute;
}

.invitation-flower-left {
  top: -30px;
  width: 255px;
  left: -90px;
  rotate: 35deg;
  z-index: 4;
}

.invitation-flower-right {
  top: 0;
  width: 250px;
  right: -100px;
  rotate: 320deg;
  z-index: 4;
}

.invitation-pearls-top {
  top: 85px;
  left: 46%;
  width: 47px;
  rotate:  340deg;
}

.invitation-pearls-bottom {
  bottom: 8px;
  right: 12%;
  width: 23px;
  rotate:  95deg;
}

.calendar {
  margin-top: 10px;
}

.calendar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 25px;
}

.calendar-img {
  width: 100%;
  height: 100%;
  margin-left: 5px;
}

.calendar-img-wrapper {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
}

.calendar-silk {
  height: 300px;
  rotate: 185deg;
  width: 160%;
  left: -200px;
  top: 70px;
}

.calendar-flower {
  bottom: -200px;
  width: 245px;
  left: 26%;
  rotate: 35deg;
  transform: scaleX(-1);
}

.calendar-pearls {
  width: 32px;
  left: 40px;
  bottom: 30px;
}

.place {
  overflow: hidden;
  margin-top: 10px;
}

.place-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-inline: 15px;
}

.place-title {
  width: 60%;
  margin-inline: auto;
}

.place-img {
  width: 120%;
  height: 417px;
  margin: 45px -10% 29px;
}

.place-img-wrapper {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place-text-wrapper {
  margin-inline: 15px;
}

.place-silk {
  width: 180%;
  height: 360px;
  top: 20px;
  left: -35%;
  transform: translateX(-20%);
  rotate: 21deg;
}

.place-pearls {
  width: 32px;
  top: 140px;
  left: 38%;
  rotate: 180deg;
}

.place-flower {
  width: 180px;
  top: 90px;
  right: -20px;
  rotate: 322deg;
}